@model IEnumerable<WebsiteDental.Models.CustomerReview>

<!-- Testimonial Start -->
<div class="container-fluid testimonial pb-5">
    <div class="container pb-5">
        <div class="testimonial-heading animate-fadeInUp">
            <h4>Khách Hàng Nói Gì Về Chúng Tôi?</h4>          
            <p style="color: #0a4776;" >
                Sự hài lòng của khách hàng luôn là động lực để chúng tôi không ngừng nâng cao chất lượng dịch vụ. Mỗi đánh giá, mỗi lời nhận xét đều là minh chứng rõ ràng nhất cho những nỗ lực không ngừng nghỉ của đội ngũ doanh nghiệp.
            </p>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.2s">

            @foreach (var n in Model)
            {
                <div class="testimonial-item bg-light rounded">
                    <div class="row g-0">
                        <div class="col-4  col-lg-4 col-xl-3">
                            <div class="h-100">
                                <img src="@n.ImageData" class="img-fluid h-100 rounded" style="object-fit: cover;" alt="">
                            </div>
                        </div>
                        <div class="col-8 col-lg-8 col-xl-9">
                            <div class="d-flex flex-column my-auto text-start p-4">
                                <h4 class="text-dark mb-0" style="color: #0a4776;">@n.Customer</h4>
                                <p class="mb-3" style="color: #0a4776;">@n.Email</p>
                                <div class="d-flex text-primary mb-3">
                                    @for (int i = 1; i <= @n.Rating; i++)
                                    {
                                        <i class="fas fa-star"></i> <!-- Sao vàng -->
                                    }
                       
                            </div>
                                <p class="mb-0" style="color: #0a4776;">
                                @n.Review
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            }


        </div>
    </div>
</div>
<!-- Testimonial End -->
